{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class='text-center'>All pet photos</h1>
        {% for pet in pets %}
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ pet.image_field.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pet.type }} {{ pet.name }}, Age: {{ pet.age }}</h5>
                        <p class="card-text">{{ pet.description }}</p>
                        <a href="{% url 'pet_detail' pet.id %}" class="btn btn-primary">See details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}